*{
    padding:0;
    margin: 0;
}



header{
    display: flex;
    

   
}

nav{
    display: flex;
    margin-top: 30px;
    justify-items: space-between ;
    
   }

.title h1{
    font-size: 80px;
}

.logo img{
    height: 100px;
  
    width: 100px;
}

header.sr{
    display: flex;
  flex-direction: row;
}

nav ul{
    list-style: none;
    display: flex;
      gap: 30px;
}

.box{
  border: 140px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}













